<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <h1>Simple Voting App</h1>
      <h2>Vote</h2>
      <p>Available Questions for {{ username }}</p>

      <!-- Display Table of Questions and Results -->
    <table class="table">
          <thead>
            <tr>
              <th>Datestamp</th>
              <th>Question</th>
            </tr>
          </thead>
          <tbody>
              <tr *ngFor="let q of unansweredQuestions">
                  <td>{{ q.timestamp }}</td>
                  <td>{{ q.question }}</td>
                  <!-- TODO: add onclick and corresponding routing to a view to vote on the question -->
                  <button button class="btn btn-link">Vote</button>
              </tr>
          </tbody>
      </table>
      <button class="btn btn-info" (click)= 'navigateToDashboard()'>Back to Dashboard</button>
  </div>
</div>